In [2]:
import pandas as pd
import glob, os    
import matplotlib.pyplot as plt
import numpy as np

In [4]:
# Read CSV's
# we are using * to read all the years for CCD_LEA_enrollment_* at a School District level
#path = "school_districts/"
all_files = glob.glob(os.path.join("", "/Users/ajp/Downloads/urban/school_districts/districts_edfacts_assessments_*.csv")) # 1GB 
df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
concatenated_df.head()

,leaid,leaid_num,year,lea_name,fips,grade_edfacts,race,sex,lep,homeless,...,foster_care,military_connected,read_test_num_valid,read_test_pct_prof_low,read_test_pct_prof_high,read_test_pct_prof_midpt,math_test_num_valid,math_test_pct_prof_low,math_test_pct_prof_high,math_test_pct_prof_midpt
0,100005,100005,2016,Albertville City,1,99,99,99,99,99,...,99,99,2797.0,28.0,28.0,28.0,2837.0,35.0,35.0,35.0
1,100005,100005,2016,Albertville City,1,99,5,99,99,99,...,99,99,3.0,-3.0,-3.0,-3.0,3.0,-3.0,-3.0,-3.0
2,100005,100005,2016,Albertville City,1,99,4,99,99,99,...,99,99,16.0,40.0,59.0,49.5,17.0,40.0,59.0,49.5
3,100005,100005,2016,Albertville City,1,99,2,99,99,99,...,99,99,91.0,10.0,14.0,12.0,92.0,15.0,19.0,17.0
4,100005,100005,2016,Albertville City,1,99,99,99,99,99,...,99,99,177.0,10.0,14.0,12.0,178.0,20.0,24.0,22.0

In [5]:
# Writing file as Parquet. 
# Parquet files are stored in column format and are smaller in size opposed to a .csv
# 
concatenated_df.to_parquet('districts_edfacts_assessments.parquet.gzip',
                    engine='pyarrow',
                   compression='gzip')

In [6]:
# Read parquet File
mydataframe = pd.read_parquet('districts_edfacts_assessments.parquet.gzip', engine='pyarrow')

mydataframe

,leaid,leaid_num,year,lea_name,fips,grade_edfacts,race,sex,lep,homeless,...,foster_care,military_connected,read_test_num_valid,read_test_pct_prof_low,read_test_pct_prof_high,read_test_pct_prof_midpt,math_test_num_valid,math_test_pct_prof_low,math_test_pct_prof_high,math_test_pct_prof_midpt
0,100005,100005,2016,Albertville City,1,99,99,99,99,99,...,99,99,2797.0,28.0,28.0,28.0,2837.0,35.0,35.0,35.0
1,100005,100005,2016,Albertville City,1,99,5,99,99,99,...,99,99,3.0,-3.0,-3.0,-3.0,3.0,-3.0,-3.0,-3.0
2,100005,100005,2016,Albertville City,1,99,4,99,99,99,...,99,99,16.0,40.0,59.0,49.5,17.0,40.0,59.0,49.5
3,100005,100005,2016,Albertville City,1,99,2,99,99,99,...,99,99,91.0,10.0,14.0,12.0,92.0,15.0,19.0,17.0
4,100005,100005,2016,Albertville City,1,99,99,99,99,99,...,99,99,177.0,10.0,14.0,12.0,178.0,20.0,24.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10852076,7200030,7200030,2009,PUERTO RICO DEPARTMENT OF EDUCATION,72,9,99,99,1,99,...,99,99,114.0,6.0,9.0,7.5,116.0,0.0,5.0,2.5
10852077,7200030,7200030,2009,PUERTO RICO DEPARTMENT OF EDUCATION,72,9,99,1,99,99,...,99,99,14696.0,27.0,27.0,27.0,14701.0,4.0,4.0,4.0
10852078,7200030,7200030,2009,PUERTO RICO DEPARTMENT OF EDUCATION,72,9,99,99,99,99,...,99,99,0.0,-2.0,-2.0,-2.0,0.0,-2.0,-2.0,-2.0
10852079,7200030,7200030,2009,PUERTO RICO DEPARTMENT OF EDUCATION,72,9,7,99,99,99,...,99,99,25.0,0.0,20.0,10.0,24.0,0.0,20.0,10.0
10852080,7200030,7200030,2009,PUERTO RICO DEPARTMENT OF EDUCATION,72,9,1,99,99,99,...,99,99,33.0,50.0,59.0,54.5,32.0,0.0,10.0,5.0