In [1]:
import pandas as pd
import glob, os    
import matplotlib.pyplot as plt
import numpy as np

# School Level Data

Read school level data and write 3 formats:
1. Sample.csv containing a smaller csv file with a few rows
2. write complete .csv file
3. write complete .parquet file

4. Upload to Remote storage and update github Repos

In [6]:
# School Enrollment

In [3]:
# Load the District Enrollment files 

all_files = glob.glob(os.path.join( "/Users/ajp/Downloads/urban/schools/schools_ccd_enrollment_*.csv")) 
df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
concatenated_df.head()

   year      ncessch  ncessch_num   leaid  fips  grade  race  sex  enrollment
0  2012  10000200277  10000200277  100002     1      7     1    1        -1.0
1  2012  10000200277  10000200277  100002     1      7     7   99         0.0
2  2012  10000200277  10000200277  100002     1      7     1    2        -1.0
3  2012  10000200277  10000200277  100002     1      7     5    2        -1.0
4  2012  10000200277  10000200277  100002     1      7    99    1         0.0

In [4]:
# Lets gather some information from the data set.
## How many rows? 
r, c = concatenated_df.shape
print("Number of rows: {}".format(r)) 
# How many columns?
print("Number of columns: {}".format(c)) 
# what are the different columns?
print(concatenated_df.columns.unique)
# Are there any Null Values?
print(concatenated_df.isnull().values.any())
# Any possible isues with the dataSet?
# How can we communicate this data set to non-technical people?
# What type of information can we gather from it?
# Possible machine learning models availabe just based on this data set?

Number of rows: 317673136
Number of columns: 9
<bound method Index.unique of Index(['year', 'ncessch', 'ncessch_num', 'leaid', 'fips', 'grade', 'race',
       'sex', 'enrollment'],
      dtype='object')>
True

In [5]:
# Save a Sample data set to 'data_lake/district/sample_csv/schools_ccd_lea_enrollment_sample.csv'
schools_ccd_lea_enrollment_sample_sample_df = concatenated_df.sample(n=5000, random_state=1)

schools_ccd_lea_enrollment_sample_sample_df.to_csv('data_lake/school_level/sample_csv/schools_ccd_enrollment_sample.csv', header=True, index=False) # 26 MB

Provides

In [6]:
# Writing file as Parquet. 
concatenated_df.to_parquet('data_lake/school_level/complete_parquet/schools_ccd_enrollment.parquet.gzip',compression='gzip')

In [7]:
# Writing file as CSV. 
# If its bigger than 100mb we will have to upload to google drive. 
concatenated_df.to_csv('data_lake/school_level/complete_csv/schools_ccd_enrollment.csv')

# School District Education Assesments

In [8]:
# Read CSV's
# we are using * to read all the years for CCD_LEA_enrollment_* at a School District level
#path = "school_districts/"
all_files = glob.glob(os.path.join("", "/Users/ajp/Downloads/urban/schools/schools_edfacts_assessments_*.csv")) # 1GB 
df_from_each_file = (pd.read_csv(f) for f in all_files)
districts_edfacts_assessments_df   = pd.concat(df_from_each_file, ignore_index=True)
districts_edfacts_assessments_df.head()

,ncessch_num,year,school_name,leaid_num,lea_name,fips,grade_edfacts,race,sex,lep,...,read_test_num_valid,read_test_pct_prof_low,read_test_pct_prof_high,read_test_pct_prof_midpt,math_test_num_valid,math_test_pct_prof_low,math_test_pct_prof_high,math_test_pct_prof_midpt,ncessch,leaid
0,10000201667,2011,Camps,100002,Alabama Youth Services,1,99,99,99,99,...,13.0,50.0,100.0,75.0,10.0,0.0,49.0,24.5,10000201667,100002
1,10000201667,2011,Camps,100002,Alabama Youth Services,1,99,2,99,99,...,9.0,0.0,49.0,24.5,6.0,0.0,49.0,24.5,10000201667,100002
2,10000201667,2011,Camps,100002,Alabama Youth Services,1,99,99,99,99,...,1.0,-3.0,-3.0,-3.0,1.0,-3.0,-3.0,-3.0,10000201667,100002
3,10000201667,2011,Camps,100002,Alabama Youth Services,1,99,99,99,99,...,10.0,0.0,49.0,24.5,7.0,0.0,49.0,24.5,10000201667,100002
4,10000201667,2011,Camps,100002,Alabama Youth Services,1,99,99,99,99,...,1.0,-3.0,-3.0,-3.0,1.0,-3.0,-3.0,-3.0,10000201667,100002

In [9]:
# Lets gather some information from the data set.
## How many rows? 
r, c = districts_edfacts_assessments_df.shape
print("Number of rows: {}".format(r)) 
# How many columns?
print("Number of columns: {}".format(c)) 
# what are the different columns?
print(districts_edfacts_assessments_df.columns.unique)
# Are there any Null Values?
print(districts_edfacts_assessments_df.isnull().values.any())
# Any possible isues with the dataSet?
# How can we communicate this data set to non-technical people?
# What type of information can we gather from it?
# Possible machine learning models availabe just based on this data set?

Number of rows: 34392253
Number of columns: 26
<bound method Index.unique of Index(['ncessch_num', 'year', 'school_name', 'leaid_num', 'lea_name', 'fips',
       'grade_edfacts', 'race', 'sex', 'lep', 'homeless', 'migrant',
       'disability', 'econ_disadvantaged', 'foster_care', 'military_connected',
       'read_test_num_valid', 'read_test_pct_prof_low',
       'read_test_pct_prof_high', 'read_test_pct_prof_midpt',
       'math_test_num_valid', 'math_test_pct_prof_low',
       'math_test_pct_prof_high', 'math_test_pct_prof_midpt', 'ncessch',
       'leaid'],
      dtype='object')>
True

In [10]:
# Lets save a Sample data set
districts_edfacts_assessments_sample_sample_df = districts_edfacts_assessments_df.sample(n=100000, random_state=1)

districts_edfacts_assessments_sample_sample_df.to_csv('data_lake/school_level/sample_csv/schools_edfacts_assessments.csv', header=True, index=False)

In [11]:
# Writing file as Parquet. 
districts_edfacts_assessments_df.to_parquet('data_lake/school_level/complete_parquet/schools_edfacts_assessments.parquet.gzip',compression='gzip')

In [12]:
# Writing edfacts as csv
districts_edfacts_assessments_df.to_csv('data_lake/school_level/complete_csv/schools_edfacts_assessments.csv')